# Archivos que no quiero subir a github

## .sueltos
/.gtkrc-*
/.gitconfig
/.bash_logout
/.bashrc
/.xsessionrc

## excepciones a .config
/.config/*
!/.config/cava/
!/.config/kitty/
!/.config/neofetch/
